<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="shortcut icon" href="#">
</head>
<body class="w-1/2 mx-auto border border-4 min-h-screen">
    <form id="form1" method="get">
      <input class="border m-2 p-4" type="submit" value="get data">
    </form>
    <form id="form2" method="get">
      <input class="border m-2 p-4" type="submit" value="get data">
    </form>
  <div id="loading-indicator"></div>
  <div id="results">
  </div>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
