<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-1/2 mx-auto border border-4 min-h-screen">
  <div>
    <form id="form" method="get">
      <input class="border m-2 p-4" type="submit" value="get data">
    </form>
  </div>
  <div>
  </div>
  <script>
    const form = document.getElementById("form");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      let response = await fetch("http://localhost:5000/get-data");
      console.log(response);
    });
  </script>
</body>
</html>
