<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#">
  <style>
    body {
      font-family: sans-serif;
      width: 50vw;
      margin: 0 auto;
      overflow-y: scroll;
    }

    #results {
      white-space: pre-line;
    }
  </style>
</head>
<body>
  <h1>NP1E</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab velit quisquam distinctio neque incidunt architecto, nesciunt nisi, recusandae illo animi natus soluta! Consectetur ea ex sapiente, molestias odio error nulla.</p>
  <div>
    <form id="form1">
      <input type="submit" value="Method 1: two queries">
    </form>
    <form id="form2">
      <input type="submit" value="Method 2: one query using JOIN">
    </form>
  </div>
  <div id="loading-indicator"></div>
  <pre id="results"></pre>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
